﻿
@model IEnumerable<Filminurk.Models.Actors.ActorsIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="Create" asp-controller="Actors" type="submit" class="btn btn-primary">Lisa Näitleja</a>
</div>
<div class="h1">
    Näitlejad
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col">Hüüdnimi</th>
                <th scope="col">Näitleja Hinnang</th>
                <th scope="col">Koduriik</th>
                <th scope="col">Tööriistad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@actor.FirstName</td>
                    <td>@actor.LastName</td>
                    <td>@actor.NickName</td>
                    <td>@actor.ActorRating</td>
                    <td>@actor.HomeCountry</td>
                    <td>
                        <a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.ID" class="btn btn-primary">Info</a>
                        <a asp-action="Update" asp-controller="Actors" asp-route-id="@actor.ID" class="btn btn-primary">Uuenda</a>
                        <a asp-action="Delete" asp-controller="Actors" asp-route-id="@actor.ID" class="btn btn-outline-danger">Eemalda</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>