@model Filminurk.Models.Movies.MoviesDetailsViewModel

<h1>Filmi info</h1>

<div>
    <h4>Filmi info</h4>
<<<<<<< Updated upstream
    <hr />
=======
    <hr/>
>>>>>>> Stashed changes

    <dl class="row">
        <div class="form-group row">
            <label asp-for="ID" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ID)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Title)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="FirstPublished" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FirstPublished)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Director" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Director)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Actors" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Actors)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="CurrentRating" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CurrentRating)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="LastAiring" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.LastAiring)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="AirTimes" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.AirTimes)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="BigBooms" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BigBooms)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="EntryCreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EntryCreatedAt)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="EntryModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EntryModifiedAt)
        </div>
    </dl>

<<<<<<< Updated upstream
    <hr />
=======
    <hr/>
>>>>>>> Stashed changes

    <a asp-action="Index" asp-controller="Movies" class="btn btn-danger">Tagasi</a>
</div>