@model IEnumerable<Filminurk_Airon_Tatrik_TARpe24.Models.Movies.MoviesIndexViewModel>
@{
	int rowNumber = 1;
}

<div>
	<a asp-action="Create" asp-controller="Movies" type="submit" class="btn btn-primary">Lisa film</a>
</div>
<div class="h1">
	Filmid
</div>
<form method="get">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Filmi Pealkiri</th>
				<th scope="col">Väljalaskeaeg</th>
				<th scope="col">Hinnang</th>
				<th scope="col">Viimane Linastusaeg</th>
				<th scope="col">Linastus korrud</th>
				<th scope="col">Tööriistad</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var movie in Model)
			{
				<tr>
					<td>@rowNumber</td>
					<td>@movie.Title</td>
					<td>@movie.FirstPublished</td>
					<td>@movie.CurrentRating</td>
					<td>@movie.LastAiring</td>
					<td>@movie.AirTimes</td>
					<td></td>
				</tr>
			}
		</tbody>
	</table>
</form>
