@model Filminurk.Models.FavouriteLists.FavouriteListUserDetailsViewModel
@{
    int rowNumber = 1;
    ViewData["Title"] = "Favourite List Details";
}
<div>
    @if (Model.IsReported == true)
    {
        @:Sinu nimekiri rikub kogukonna reegleid</br>
        @:Oleme seadnud nimekirja privaatseks kuni admin selle üle vaatab. 
    }
    <table>
        <tr>@Model.ListName</tr>
       @*  <tr><partial name="_ImageIndex" model="@Model.Image"></partial></tr> *@
    </table>
</div>

<div>
    <table class="table">

    @foreach (var movie in Model.ListOfMovies)
    {
        <tr>
            <table>
                <tr>
                    <td colspan="2" style="border:thick">@movie.Title</td>
                </tr>
                <tr>
                        <td>(IMAGE HERE)</td>
                        <td>
                            <table>
                                <tr>@movie.Description</tr>
                                <tr>@movie.Director</tr>
                                <tr>@movie.AirTimes</tr>
                                <tr>@movie.CurrentRating</tr>
                                <tr>@movie.LastAiring</tr>
                            </table>
                        </td>
                </tr>
            </table>
        </tr>        
    }
    </table>
    <div>

        <form asp-action="UserDelete" asp-controller="FavouriteLists" method="post" class="d-inline">
            <input type="hidden" name="id" value="@Model.FavouriteListID"/>
               <button type="submit" class="btn btn-danger" value="Kustuta nimekiri"></button>
            </form>

        <input asp-action="UserTogglePrivacy" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID"
        type="submit" class="btn btn-warning" value="Muuda nimekiri privaatseks" />

        <input asp-action="UserEditList" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID"
               type="submit" class="btn btn-success" value="Muuda nimekirja sisu ja andmeid" />
        <a asp-action="Index" asp-controller="FavouriteLists" class="btn btn-light">Tagasi</a>
    </div>
</div>