@model Filminurk.Models.FavouriteLists.FavouriteListUserCreateViewModel
@*Check for editing or creating*@
@{
    var allMoviesTickboxes = ViewData["allmovies"] as List<Filminurk.Models.Movies.MoviesIndexViewModel>;
    List<string> userHasSelected = ViewBag.userHasSelected;
    List<string> previouslySelected = userHasSelected;
}
<h1>Tee uus nimekiri</h1>
<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="FavouriteListID" type="hidden" />
        <input asp-for="ListCreatedAt" type="hidden" />
        <input asp-for="ListModifiedAt" type="hidden" />
        <input asp-for="ListDeletedAt" type="hidden" />
        <input asp-for="IsReported" type="hidden" />
        <input asp-for="ListBelongsToUser" type="hidden" />
        
        <div class="form-group-row">
            <label asp-for="ListName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input  asp-for="ListName" class="form-control"/>
            </div>
        </div>
        <div class="form-group-row">
            <label asp-for="ListDescription" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ListDescription" class="form-control" />
            </div>
        </div>
        <div class="form-group-row">
            <label asp-for="IsPrivate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="checkbox" asp-for="IsPrivate" class="form-control" />
            </div>
        </div>
        @if (allMoviesTickboxes == null)
        {
            @:Filme andmebaasis ei ole   
        }
        else{
        @foreach(var movie in ViewBag.movies)
            {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.FirstPublished</td>
                <td>@movie.AirTimes</td>
                <td>
                        @if (movie.ID.HasValue)
                        {
                            <input 
                                type="checkbox"
                                name=userHasSelected"
                                value="@movie.ID"
                                id="checkbox-@movie.ID"
                            @if (userHasSelected.Contains(movie.ID.ToString()))
                            {
                                @:checked
                            }
                            />
                        }
                        else
                        {
                            <input type="checkbox" name="userHasSelected" value="@movie.ID" id="checkbox-@movie.ID"/>
                        }
                    </td>
            </tr>
            }
        }
        <input 
            asp-action="UserCreate"
            asp-controller="FavouriteLists"
            type="submit"
            class="btn btn-primary"
            value="Tee Nimekiri"
            />



    </form>
</div>