@model Filminurk.Models.UserComments.UserCommentsIndexViewModel
<h1>Vaata kommentaari.</h1>
<div>
       <h4>Info: </h4>
       <hr/>
       <dl class="row">
           <div class="form-group row">
               <label asp-for="CommentID" class="col-sm-2 col-form-label"
               ></label>
               @Html.DisplayFor(model => model.CommentID)
           </div>
       </dl>
              <dl class="row">
           <div class="form-group row">
            <label asp-for="CommenterUserID" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommenterUserID)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="CommentBody" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommentBody)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="CommentedScore" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommentedScore)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="IsHelpful" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsHelpful)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="IsHarmful" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsHarmful)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="CommentCreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommentCreatedAt)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="CommentModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommentModifiedAt)
           </div>
       </dl>
       <dl class="row">
           <div class="form-group row">
            <label asp-for="CommentDeletedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CommentDeletedAt)
           </div>
       </dl>
       <hr/>
       <form  method="post">
        <a asp-action="Index" asp-controller="UserComments" class="btn btn-primary">Tagasi</a>
        <input type="hidden" asp-for="CommentID" />
        <input type="submit" value="Kustuta" asp-controller="UserComments" asp-action="DeleteAdminPost" asp-route-id="@Model.CommentID" class="btn btn-danger" />
       
    </form>

</div>

           @*Komment*@