﻿
@model IEnumerable<Filminurk.Models.UserComments.UserCommentsIndexViewModel>
@{
	int rowNumber = 1;

}
<div>
	<a asp-action="NewComment" asp-controller="UserComments" type="submit" class="btn btn-primary">Make new comment</a>
</div>
<div class="h1">
	Kasutajate arvustused:
</div>
<div>
	<form method="get">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">JKN</th>
					<th scope="col">CommentID</th>
					<th scope="col">CommentBody</th>
					<th scope="col">IsHarmful</th>
					<th scope="col">IsHelpFul</th>
					<th scope="col">CommentsCreatedAt</th>
					<th>Tööriistad</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var comment in Model)
				{
					<tr>
						<td>@rowNumber</td>
						<td>@comment.CommentID</td>
						<td>@comment.CommentBody</td>
						<td>@comment.IsHarmful</td>
						<td>@comment.IsHelpful</td>
						<td>@comment.CommentCreatedAt</td>
						<td>
							<a asp-action="DetailsAdmin" asp-controller="UserComments" asp-route-id="@comment.CommentID" class="btn btn-primary">Details</a>
							<a asp-action="DeleteComment" asp-controller="UserComments" asp-route-id="@comment.CommentID" class="btn btn-primary">Delete</a>
						</td>
					</tr>
					rowNumber++;
				}
			</tbody>
		</table>
	</form>
</div>